###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/bin/
/vendor/bootstrap/
/vendor/doctrine/
/vendor/egulias/
/vendor/masterminds/
/vendor/monolog/
/vendor/myclabs/
/vendor/nikic/
/vendor/phar-io/
/vendor/phpdocumentor/
/vendor/phpunit/
/vendor/phpstan/
/vendor/psr/
/vendor/sebastian/
/vendor/symfony/
/vendor/phpunit/
/vendor/theseer/
/vendor/twig/
/vendor/webmozart/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
